{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>{% block title %}Test Plantilla... | {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">

    {% block scripts %}
        {{ super() }}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>

{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger alert-dismissible">
            <button type="button"
                    data-dismiss="alert"
                    class="close"
            >&times;
            </button>
            {{ message }}
        </div>
    {% endfor %}

    {% block content %}{% endblock %}


{% endblock %}

